body{
  background-image: url("img/Diseño\ sin\ título.png");
  background-repeat: no-repeat;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 13px;
    border: none;
    border-radius: 50px;
    height: auto;
  }

  input[type="text"] {
    width: 35%;
    padding: 10px;
    font-size: 19px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px 0 0 5px;
  }

  
  button {
    padding: 11px 20px;
    font-size: 18px;
    background-color: #525252;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0  5px 5px 0;
  }
  
  #results {
    margin-top: 50px;
    text-align: left;
  }
  
  .movie {
    width: 70%;
    min-height: 210px;
    margin-bottom: 40px;
    margin-left: 14%;
    padding: 10px;
    background-color: #1f1f1f;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 0px 5px 5px rgba(98, 98, 98, 0.528);
  }
  
  .movie img {
    max-width: 140px;
    height: 210px;
    float: left;
    margin-right: 20px;
    border-radius: 5px;
  }
  
  .movie h2 {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
  }

  .movie h4{
    font-size: 19px !important;
    color: rgb(161, 161, 161);
  }
  
  .movie p {
    margin: 5px 15px;
    font-size: 17px;
    /* font-weight: bold; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-height: 90px;
    overflow: hidden;
  }
  
  .pNone{
    margin-top: 40px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 20px;
  }

#p-abajo-titulo{
  margin-bottom: 30px;
}

@media (min-width:1350px){
  .container{
    margin-top: 2%;
  }
}



/* navbar */

.nav {
  height: 60px;
  width: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 78, 78, 0.335);
  border-radius: 100px;
  backdrop-filter: blur(8px);
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title > img {
  width: 60px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #e0e0e0;
  font-weight: 500;
}

.nav > .nav-links > a:hover {
  text-decoration: underline;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}


.card {
  display: flex;
  height: 40px;
  width: 110px;
  gap: 20%;
}

.card svg {
  position: absolute;
  display: flex;
  width: 90%;
  height: 80%;
  z-index: 2;
  padding: 0.25rem;
  cursor: pointer;
}

.card .social-link1,.card .social-link2,.card .social-link3,.card .social-link4,.card .social-link5 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}

/* main */
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

main span{
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: rgb(199, 199, 199);
}

main a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-right: 10px;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  padding-top: 3px;
  border-radius: 5px;
}

main p{
  color: gray;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: -20px;
}

main img{
  width: 30%;
  margin-top: 50px;
}

main h1{
  color: rgb(214, 214, 214);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}